@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1{
        color: black;
        background-color: lightgrey;
        text-decoration: underline;
    }
    h3{
        text-decoration: underline;
    }
    h4{
        text-decoration: underline;
    }
    p{
        color: black;
        background-color: lightgrey;
        text-align: left;
        line-height: 30px;
        letter-spacing: 1px;
        column-count: 2;
        column-gap: 60px;
    }
    ul{
        background-color: aliceblue;
    }

</style>

<head>
    <title>TailoringPageAndFashionLife</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<h1>Welcome to Our Tailoring Shop</h1>
<div id="tailor-info">
    <h2 id="tailor-name">"MarkTessy's Tailor Shop"</h2>
    <p id="tailor-address">"12 Tower Arc Main St"</p>
    <p id="tailor-phone-number">"0805526-1234"</p>
    <img src="~/Img/Tailor3.jpeg">
</div>
<div class="text">
    <h3 class="accordion-body">Tailor Job Description</h3>
    <p>
        Learn about the key requirements, duties, responsibilities, and skills that should be in a tailor job description.
        tailor working on a bench
        Tailors are responsible for constructing, altering, repairing, or modifying garments for customers based on their specifications, needs, and preferences. They take customers' measurements, assist in fabric selection, and arrange fittings to determine whether additional adjustments are needed.
    </p>

    <p>
        Tailor Job Description Template
        We are looking to hire a highly-skilled tailor to construct, alter, modify, and repair garments for our customers. The tailor's responsibilities include restyling old or outdated garments based on customers' specifications, sewing zippers, buttons, hooks and eyes, or snap fasteners onto garments as needed, and assisting customers in selecting suitable fabric. You should also be able to prepare completed garments for pick-up by ironing out creases and removing chalk marks.

        To be successful as a tailor, you should be detail-oriented and knowledgeable of clothing design and construction. Ultimately, an exceptional tailor should demonstrate excellent communication, time management, sewing, and problem-solving skills to ensure that customers are satisfied with the tailoring services provided.

       Tailor Responsibilities:
       Discussing design, alteration, or repair requirements with customers to ensure that their specifications are met.
    </p>

    <ul>
        <li>Taking customers’ measurements using a tape measure.</li>
        <li>Accurately recording customers' measurements, instructions, and preferences.</li>
        <li>Modifying garments according to customer instructions, which includes tapering pant legs, lining sheer garments, removing pockets, and adding padding.</li>
        <li>Altering garments to improve comfort and fit, which includes shortening sleeves or straps, narrowing lapels, as well as taking in or letting out seams.</li>
        <li>Repairing customers' garments, which includes patching or sewing tears and holes.</li>
        <li> Constructing garments for customers based on their design ideas, specifications, and preferences.</li>
        <li>Providing customers with cost estimates for the construction of customized garments.</li>
    </ul>
    
    <h4>Tailor Requirements:</h4>

    <ul>
        <li>High school diploma or GED.</li>
        <li>Proven experience working as a tailor.</li>
        <li>Sound knowledge of fabrics as well as clothing design and construction.</li>
        <li>The ability to use a sewing machine.</li>
        <li>Excellent organizational, problem-solving, and time management skills.</li>
        <li>Outstanding sewing skills.</li>
        <li>Effective communication skills.</li>
        <li>Exceptional customer service skills.</li>
        <li>Good hand-eye coordination.</li>
        <li>Detail-oriented.</li>
    </ul>
</div>
